<div class="ui grid container">
<div class="twelve wide column">
  <div id="events_calendar">
    <%= add_monthly_calendar(@appointments) %>
  </div>
</div>
  <div class="four wide column">
    <br />
    <h3>Upcoming Assignments - <%=current_staff.first_name%></h3>
    <% if @upcoming_schedules.any? %>
      <% @upcoming_schedules.each_with_index do |i, index| %>
      <b>Assigment <%="#{index+1}"%>: </b><%= i.client.name %>
      <br />
      <b>Start time: </b><%= i.appointment_time.strftime("%A %B %e %l:%M %p") %>
      <br />
      <b>End time: </b><%= i.end_time.strftime("%A %B %e %l:%M %p") %>
      <br />
      <b>Manager-in-charge: </b><%= i.user.first_name %>
      <br />
      <br />
      <% end %>
    <% else %>
      <p>No appointments yet.</p>
    <% end %>
  </div>
</div>
