<div class="ui stackable four column doubling grid container">
  <div class="column">
    <p> <%= client_name(client) %></p>
  </div>
  <div class="column">
    <p><%= client_email(client) %></p>
  </div>
  <div class="column">
    <p><%= client_phone(client) %> </p>
  </div>
  <div class="column">
    <p><%= appointment_count(client) %></p>
    <p><%= link_to "New Appointment", new_client_appointment_path(client), class: "btn btn-primary" %></p>
  </div>
  <%= link_to "Edit", edit_client_path(client) %>, <%= link_to "Delete", client, method: :delete, data: { confirm: "Are you sure you want to delete this client?" } %>
  </div>
