<nav>
  <div class="container">
    <ul class="main-menu">
      <li><%= link_to "Home", root_path %></li>
    <% if user_signed_in? %>
      <span>Welcome, <%= current_user.first_name %>!</span>
      <li>Client</li>
      <li>Users</li>
      <li>Appointments</li>
      <li class="right"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li class="right"><%= link_to "Sign in", new_user_session_path %></li>
      <li class="right"><%= link_to "Sign up", new_user_registration_path %></li>
    <% end %>
    </ul>
  </div>
</nav>
