<!DOCTYPE html>
<html>
<head>
  <title>Tracked</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://use.fontawesome.com/c7ca142007.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Nixie+One|Open+Sans+Condensed:300|Scope+One" rel="stylesheet">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
  <%= render "layouts/navbar" %>
  <%= yield %>
</body>
</html>
